<% if user.stripe_customer_id %>

    <p><%= user.email %></p>
    <p><%= user.stripe_default_source %></p>

    <%= form_tag credit_card_update_user_path(user), method: :patch do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Yvon"
        data-image=<%= image_path 'yvon_avatar_128.png' %>
        data-email="<%= user.email %>"
        data-label="<%= t('.update_card') %>"
        data-panel-label="<%= t('.update_card') %>"
        data-allow-remember-me=false
        data-locale="auto"></script>

      <%= link_to credit_card_destroy_user_path(user), method: :patch, data: { confirm: t('.confirm_destroy') }, class: 'btn btn-danger btn-xs' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>


  <% else %>

    <%= form_tag credit_card_update_user_path(user), method: :patch do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Yvon"
        data-image=<%= image_path 'yvon_avatar_128.png' %>
        data-email="<%= user.email %>"
        data-label="<%= t('.add_card') %>"
        data-panel-label="<%= t('.add_card') %>"
        data-allow-remember-me=false
        data-locale="auto"></script>
    <% end %>

  <% end %>
