<div class="container">

  <h3><%= t '.my_card' %></h3>

  <div id="creditCard">
    <%= render 'users/credit_card', user: @user.decorate %>
  </div>

  <div id="nonCreditCard">
<!--     <h3><%= t '.messenger' %></h3>
    <%= render 'pages/messenger_button', ref: "profile" %> -->

    <% if User.roles[@user.role] > 0 %>
      <h3><%= t ".my_restaurants" %></h3>
      <div class="row">
        <% @user.restaurants.includes(:user, :photo_files).by_duty.each do |restaurant| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'restaurants/card', restaurant: restaurant %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to t(".add_restaurant"), new_restaurant_path, class: "btn btn-danger marged" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  <% if @update == 'cc' %>
    var update = 'cc';
  <% else %>
    var update = 'nil';
  <% end %>
<% end %>
