<div class="container">

  <h3><%= t '.my_card' %></h3>
  <p><%= @user.email %></p>

  <div id="creditCard">
    <%= render 'users/credit_card', user: @user.decorate %>
  </div>

  <h3><%= t '.messenger' %></h3>
  <%= render 'pages/messenger_button', ref: "profile" %>

  <% if User.roles[@user.role] > 0 %>
    <h3><%= t ".my_restaurants" %></h3>
    <div class="row">
      <% @user.restaurants.by_duty.each do |restaurant| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'restaurants/card', restaurant: restaurant %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to t(".add_restaurant", default: "Add a restaurant"), new_restaurant_path, class: "btn btn-danger marged" %>
      </div>
    </div>
  <% end %>
</div>

<% if @update == 'cc' %>
  <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function() {
      // the Messenger Extensions JS SDK is done loading
      MessengerExtensions.requestCloseBrowser(function success() {
      }, function error(err) {
      });
    };
  </script>
<% end %>
