<% if path_info == root_path %>
  <div class="navbar-wagon navbar-wagon-fixed">
    <div class="navbar-background-scroll"></div>
<% else %>
  <div class="navbar-wagon">
    <div class="navbar-background-still"></div>
<% end %>

    <!-- Logo -->
    <div class="navbar-wagon-brand">
      <%= link_to root_path do %>
        YVON
      <% end %>
    </div>

    <!-- Middle Display -->
    <% if @restaurant %>
      <div class="navbar-wagon-middle">
        <%=  @restaurant.name %>
      </div>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right">
      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>
        <% if @restaurant&.persisted? && @restaurant.active? %>
          <div class='navbar-wagon-item hidden-xs' id="restaurantPreparationTime">
            <%= render 'restaurants/preparation_time_form', restaurant: @restaurant %>
          </div>
          <div class='navbar-wagon-item hidden-xs' id="restaurantDutyCheckbox">
            <%= render 'restaurants/duty_checkbox', restaurant: @restaurant %>
          </div>
        <% end %>
        <!-- Profile picture and dropdown -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <div class="dropdown-toggle" id='navbar-wagon-menu' data-toggle='dropdown'>
              <ul class="list-inline no-margin">
                <li>
                  <%= current_user.decorate.name %>
                </li>
                <li>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to current_user do %>
                <i class="fa fa-home"></i> <%= t(".profile") %>
                <% end %>
              </li>
              <% if User.roles[current_user.role] > 0 %>
                <li>
                  <%= link_to restaurants_path do %>
                    <i class="fa fa-cutlery"></i> <%= t(".restaurants") %>
                  <% end %>
                </li>
              <% end %>
              <% if current_user.admin? %>
                <li>
                  <%= link_to new_restaurant_path do %>
                    <i class="fa fa-plus"></i> <%= t(".new_restaurant") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to (rails_admin_path + '/user') do %>
                    <i class="fa fa-lock"></i> <%= t(".rails_admin") %>
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i> <%= t(".sign_out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>
  </div>
