<h1>Pending orders</h1>

<% @orders.each do |order| %>
  User: <%=  order.user.first_name %><br>
  Paid at: <%=  order.start_at %><br>
  Delivered at: <%=  order.finish_at %><br>
  <% order.ordered_meals.each do |ordered_meals| %>
    Meal name :<%=  ordered_meals.meal.name %><br>
    Meal price: <%=  ordered_meals.meal.price %><br>
  <% end %>
<% end %>
