<h1>Pending orders</h1>



<table class="table table-striped">

  <thead>
    <tr>
      <th>
      Cusomer
      test
      </th>
      <th>Drinks</th>
      <th>Starters</th>
      <th>Main Courses</th>
      <th>Desserts</th>
      <th>Total Price</th>
      <th>Paid at</th>
      <th>Ready at</th>
      <th>Delivered at</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.first_name.capitalize %> <%=  order.user.last_name.capitalize %></td>

        <td>
          <% order.ordered_meals.each do |ordered_meal| %>
            <% if ordered_meal.meal.category == "drink" %>
              <p><%= ordered_meal.meal.name %><p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% order.ordered_meals.each do |ordered_meal| %>
            <% if ordered_meal.meal.category == "starter" %>
              <p><%= ordered_meal.meal.name %><p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% order.ordered_meals.each do |ordered_meal| %>
            <% if ordered_meal.meal.category == "main_course" %>
              <p><%= ordered_meal.meal.name %><p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% order.ordered_meals.each do |ordered_meal| %>
            <% if ordered_meal.meal.category == "dessert" %>
              <p><%= ordered_meal.meal.name %><p>
            <% end %>
          <% end %>
        </td>


        <td>"-"</td>
        <td>"-"</td>
        <td>"-"</td>
        <td>"-"</td>

      </tr>
    <% end %>

  </tbody>


</table>


