<div class="table-responsive">
  <table class="table table-striped table-condensed table-orders-list">
    <thead>
      <tr>
        <th><%= t '.customer' %></th>
        <th><%= t '.starters' %></th>
        <th><%= t '.main_courses' %></th>
        <th><%= t '.desserts' %></th>
        <th><%= t '.drinks' %></th>
        <th class="text-right"><%= t '.total_price' %></th>
        <th class="text-center"><%= t '.sent_at' %></th>
        <th class="text-center"><%= t '.ready_at' %></th>
        <th class="text-center"><%= t '.delivered_at' %></th>
      </tr>
    </thead>

    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td>
            <%= order.decorate.user.name %>
          </td>
          <td>
            <% order.ordered_meals.at_timing("starter").each do |ordered_meal| %>
              <p><%= ordered_meal.decorate %></p>
            <% end %>
          </td>
          <td>
            <% order.ordered_meals.at_timing("main_course").each do |ordered_meal| %>
              <p><%= ordered_meal.decorate %></p>
            <% end %>
          </td>
          <td>
            <% order.ordered_meals.at_timing("dessert").each do |ordered_meal| %>
              <p><%= ordered_meal.decorate %></p>
            <% end %>
          </td>
          <td>
            <% order.ordered_meals.at_timing("drink").each do |ordered_meal| %>
              <p><%= ordered_meal.decorate %></p>
            <% end %>
          </td>
          <td class="text-right">
            <%= order.decorate.price %>
            <br>
            <% case order.payment_method %>
            <% when 'credit_card' %>
              payé
            <% when 'counter' %>
              <strong>comptoir</strong>
            <% when 'demo' %>
              démo
            <% end %>
          </td>
          <td class="text-center">
            <%= order.decorate.sent_at %>
            <br>
            <% if order.table > 0 %>
              table <%= order.table %>
            <% else %>
              à emporter
            <% end -%>
          </td>
          <td class="text-center">
            <% if order.handled_at.nil? %>
              <strong>max <%= order.decorate.ready_at_limit %></strong>
              <br>
              <%= render 'orders/button_handled', order: order %>
            <% elsif order.ready_at.nil? %>
              max <%= order.decorate.ready_at_limit %>
              <br>
              <%= render 'orders/button_ready', order: order %>
            <% else %>
              <%= order.decorate.ready_at %>
              <br>
              max <%= order.decorate.ready_at_limit %>
            <% end %>
          </td>
          <td class="text-center">
            <% if order.delivered_at.nil? && (order.table > 0 || order.ready_at) %>
              <%= render 'orders/button_delivered', order: order %>
            <% else %>
              <%= order.decorate.delivered_at %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
