<div class="home-body">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url('http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_400,w_1600/v1480081049/banner_1_d7qs3r.jpg');">
    <div class="banner-content">
      <h1>Time is too precious to wait in line!</h1>
      <h2>Save your time & order your lunch with Yvon</h2>
      <div class="msg-yvon">
        <a href="https://www.messenger.com/t/HelloYvon/" id="btn-fb">
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          Message Yvon
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="product" id="first">
          <%= image_tag "map.png", width: 100, height: 100 %>

          <div class='product-body'>
            <h1>Find the best restaurants around you</h1>
            <h3>Yvon uses your geolocation datas to indicate the closest restaurants</h3>
          </div>
        </div>

        <div class="product">
          <%= image_tag "store.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Select one and have a look at the menu</h1>
            <h3>Yvon allows you to see restaurants avaibilities around you</h3>
          </div>
        </div>

        <div class="product">
          <%= image_tag "pay.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Order your meals and pay with Yvon</h1>
            <h3>Yvon allows you to pay the restaurant so that you won't have to wait to get your order</h3>
          </div>
        </div>

        <div class="product">
          <%= image_tag "takeaway.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Pick-up your food directly at the desk</h1>
            <h3>No more queue, you order waits you at the restaurant. You will even be notified when it's ready !</h3>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="vdo">
          <%= image_tag "iphone.png" %>
        </div>
      </div>
    </div>
<%= image_tag "gifyvonmoinslourd.gif" %>
      <!-- Button (call-to-action) -->
      <%= link_to t(".top_call_to_action", default: "Get Yvon for your restaurant !"), new_restaurant_path, class: "action-btn" %>
    </div>
  </div>
</div>
