<div class="banner" style="background-image: linear-gradient(to bottom right, rgba(255,244,199,0.5) 0%, rgba(41,44,60,0.5) 50%), url(<%= image_path 'banner_home.jpg' %>);">
  <div>
    <h1><%= t('.slogan_html') %></h1>
    <%= render 'messenger_button' %>
  </div>
</div>

<div class="container text-center">
  <div class="row row-md-flex-center">
    <div class="col-md-3">
      <%= image_tag "map.png", width: 50, height: 50 %>
      <h3><%= t('.action_1') %></h3>
      <br>
        <%= image_tag "pay.png", width: 50, height: 50 %>
      <h3><%= t('.action_3') %></h3>
    </div>

    <div class="col-md-3">
      <%= image_tag 'yvon_avatar.png', class: 'avatar-xl' %>
    </div>

    <div class="col-md-3">
        <%= image_tag "store.png", width: 50, height: 50 %>
      <h3><%= t('.action_2') %></h3>
      <br>
        <%= image_tag "takeaway.png", width: 50, height: 50 %>
      <h3><%= t('.action_4') %></h3>
    </div>

    <div class="col-md-3">
      <%= render 'phone_demo' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'messenger_button' %>
    </div>
  </div>
</div>

