<div class="container">
  <div class="entete">
    <div class="row">
      <div class="col-md-4">Photo</div>
      <div class="col-md-3">Meal Name</div>
      <div class="col-md-3">Description</div>
      <div class="col-md-1">Price</div>
      <div class="col-md-1">Edit</div>
    </div>
  </div>

  <% @restaurant.meals.categories.each do |category| %>
    <div class="row">
      <div class="col-md-12">
        <div class="categorie">
          <hr>
          <%= category[0].capitalize.tr("_", " ").pluralize %>
        </div>
      </div>
    </div>
    <% @restaurant.meals.where(category: category[0]).each do |meal| %>
      <div class="ligne">
        <div class="row">
          <div class="col-md-4">
            <div id="bordered">
              <%= cl_image_tag(meal.photo.path, height: 50, width: 100, crop: :fill) %>
            </div>
          </div>
          <div class="col-md-3"><%= meal.name %></div>
          <div class="col-md-3"><%= meal.description %></div>
          <div class="col-md-1"><%= meal.decorate.price %></div>
          <div class="col-md-1">
            <a data-toggle="modal" data-target="#editMeal_<%= meal.id %>"><i class="fa fa-pencil" ></i></a>
          </div>
          <div class="modal fade" id="editMeal_<%= meal.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add a meal</h4>
                </div>
                <div class="modal-body">
                  <%= render 'meals/form', meal: meal %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  <% end %>
</div>

