<div class="container">
  <h3><%= t(".sign_in") %></h3>

  <div id="websiteLoginForm" style="display: none;">

    <p>
      <%= link_to omniauth_authorize_path(resource_name, 'facebook'), class: "btn btn-social btn-facebook" do %>
        <i class="fa fa-facebook"></i><%= t('devise.shared.links.sign_in_with_provider', provider: 'Facebook') %>
      <% end %>
    </p>

    <br>
    <br>
    <h4>Pour restaurateurs uniquement :</h4>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".sign_in") %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div id="webviewLoginForm" style="display: none;">
    <p>
      <%= link_to omniauth_authorize_path(resource_name, 'facebook'), class: "btn-fbm" do %>
        <%= image_tag 'messenger_icon_white.png' %><%= t('devise.shared.links.sign_in_with_provider', provider: 'lien Messenger') %>
      <% end %>
    </p>
  </div>


</div>
