<%= simple_form_for restaurant, remote: true do |f| %>
  <h3><%= t '.meal_categories' %></h3>
  <div id="mealCategories">
    <%= f.simple_fields_for :meal_categories do |meal_category| %>
      <%= render 'meal_category_fields', f: meal_category %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :meal_categories do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= simple_form_for restaurant, remote: true do |f| %>
  <h3><%= t '.options' %></h3>
  <div id="options">
    <%= f.simple_fields_for :options do |option| %>
      <%= render 'option_fields', f: option %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :options do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= simple_form_for restaurant, remote: true do |f| %>
  <h3><%= t '.menus' %></h3>
  <div id="menus">
    <div class="links">
      <%= link_to_add_association f, :menus do %>
        <h4><i class="fa fa-plus" aria-hidden="true"></i></h4>
      <% end %>
    </div>
    <%= f.simple_fields_for :menus do |menu| %>
      <br>
      <%= render 'menu_fields', f: menu %>
    <% end %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
