<div class="nested-fields form-inline">
  <%= f.input :active, label: false %>
  <%= f.input :name_fr, label: 'fr', placeholder: "Nom" %>
  <%= f.input :name_en, label: 'en', placeholder: "Name" %>
  <%= f.input :price, placeholder: "Price" %>
  <%= f.input :position, label: false, placeholder: "Position" %>
  <%= link_to_remove_association f do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</div>
