<% content_for :title do %>
  <% @restaurant.name %>
<% end %>

<div class="tabs" id="restaurantTabs">
  <%= link_to t('.meals'), restaurant_meals_path(restaurant), class: "tab#{ ' active' if active == 'meals'}" %>
  <%= link_to t('.orders'), restaurant_orders_path(restaurant), class: "tab#{ ' active' if active == 'orders'}" %>
  <% if controller_path == 'restaurants' %>
    <% configure_path = "#" %>
    <% edit_path = "#" %>
  <% else %>
    <% configure_path = edit_restaurant_path(restaurant, tab: 'configure') %>
    <% edit_path = edit_restaurant_path(restaurant, tab: 'edit') %>
  <% end %>
  <%= link_to t(".configure"), configure_path, class: "tab#{ ' active' if @active == 'configure'}", data: {target: '#configureRestaurant'} %>
  <%= link_to t(".edit"), edit_path, class: "tab#{ ' active' if @active == 'edit'}", data: {target: '#editRestaurant'} %>
  <%= link_to(t(".admin"), edit_admin_restaurant_path(restaurant), class: "tab#{ ' active' if active == 'admin'}") if current_user.admin? %>
</div>

<%= javascript_tag do %>
  var restaurantId = <%= @restaurant.id %>;
<% end %>
