
  <div class="col-xs-12 col-sm-6">
    <%= render 'restaurant_card', restaurant: @restaurant %>
  </div>

<br>

<%= @restaurant.name %><br>
<%= @restaurant.address %><br>
<%= @restaurant.category %><br>
<%= @restaurant.description %><br>
<%= @restaurant.user.first_name %><br>
<%= cl_image_tag @restaurant.photo.path %>
