<% content_for :title do %>
  <% @restaurant.name %>
<% end %>

<div class="tabs">
  <a class="tab active" data-target="#orders">
    <h3>Orders</h3>
  </a>
  <a class="tab" data-target="#meals">
    <h3>Meals</h3>
  </a>
  <a class="tab" data-target="#configure">
    <h3>Configure</h3>
  </a>
  <a class="tab" data-target="#restaurant">
    <h3>Edit my restaurant</h3>
  </a>
</div>


<div class="tab-content" id="orders">
  <div class="container">
    <div id="orderslist">
      <%= render 'orders/index', orders: @restaurant.orders %>
    </div>
  </div>
</div>

<div class="tab-content hidden" id="meals">
  <div class="container">
    <%= link_to "Meals", restaurant_meals_path(@restaurant) %>
  </div>
</div>

<div class="tab-content hidden" id="configure">
  <%= render 'restaurants/configure', restaurant: @restaurant %>
</div>


<div class="tab-content hidden" id="restaurant">
  <%= render 'restaurants/edit' %>
</div>


<script>
  var restaurantId = <%= @restaurant.id %>;
</script>

<% content_for :after_js do %>
  <script>
    $(".input_active").change(function() {
      $(this).closest('form').trigger('submit.rails');
      // $(this).submit();
    });
  </script>
<% end %>
