<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_with_default(:title, 'Yvon') %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body class="site">
    <% if request.env['PATH_INFO'] == "/" || request.env['PATH_INFO'] == "/restaurants" %>
      <div class="navbar-fixed">
        <div class="background-custom"></div>
    <% else %>
      <div>
    <% end %>
        <%= render 'shared/navbar' %>
    </div>

    <%= render 'shared/flashes' %>
    <main class="site-content">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>

    <%= yield(:after_js) %>

  </body>
</html>

